@import url('https://fonts.googleapis.com/css?family=Teko:400,600,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');

body {
    font-family: 'PT Sans', sans-serif;
}

code, pre{
    font-family: 'PT Mono', monospace;
}

.title {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    color: #1d8163;
    font-size: 3rem;
}

.title a {
    color: #1d8163;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    color: #1d8163;
}
